::selection {
    background-color: #000; /* เปลี่ยนสีพื้นหลัง */
    color: #fff; /* เปลี่ยนสีตัวอักษร */
  }
  /* App.css */
body {
  font-family: 'Kanit', sans-serif;
}
/* ใน component ที่ต้องการ เช่น Navbar.css */
.navbar {
  font-family: 'Kanit', sans-serif;
}
